<link rel="stylesheet" href="/css/weather.css">
<div class="container text-center">
	<h1>Weather Forecaster</h1>
	<span>
		This is a simple weather forecaster!
	</span><br />
	<span>
		You can type in a latitude and longitude below to get the forecast for that location.
	</span>
	<br />
	<form method="get" class="location-form form-inline text-left">
		<input type="number" name="latitude" step="any" class="form-control" placeholder="Latitude" value="{{ latitude }}"
			required>
		<input type="number" name="longitude" step="any" class="form-control" placeholder="Longitude"
			value="{{ longitude }}" required>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	{{#if error}}
	<br />
	<span class="error">
		ERROR: {{ error }}
	</span>
	{{else}}
	{{#if dates}}
	{{#each dates}}
	<h3 class="text-center">{{ this.date }}</h3>
	<div class="forecast-box">
		{{#each times}}
		<div class="hour" style="background-color: hsl({{ this.hue }}, 80%, 50%)">
			<div class="datetime-side">
				<span class="datetime">
					{{ this.time }}
				</span>
			</div>
			<div class="weather-side">
				<span class="temperature">
					{{ this.temperature }} {{ this.temperatureUnit }}
				</span>
				<span class="wind">
					{{ this.windSpeed }} {{ this.windDirection }}
				</span><br />
				<i>{{ this.shortForecast }} - {{ this.message }}</i>
			</div>
		</div>
		{{/each}}
	</div>
	{{/each}}
	{{/if}}
	{{/if}}
</div>